html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.image-container{
    float: left;
    width:33%;
    padding: 5px;
    box-sizing: border-box;
}

.image-set::after {
    content: "";
    clear: both;
    display: table;
}

.text{
    text-align: center;
}

.price{
    text-align:center;
}

.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightslategrey;
    padding: 50px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 15px 15px;
}


