@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
}

<div style ="text-align:center">
<h1>About Us</h1>
</div>

<div style="text-align:center">
    <h2>Our beginning and journey</h2>
</div>

<br /> 

<div>
    <div style="padding:20px; background-color:cadetblue; text-align:center">
    <p>Welcome to KhumaloCraft Emporium, a thriving marketplace for handcrafted goods where tradition and creativity collide. Our platform, 
        which was established by visionary businessman James Khumalo, is devoted to exhibiting the magnificent craftsmanship of artists from 
        all over the world.Our platform serves as evidence of his vision to establish a global digital marketplace that connects skilled craftspeople 
        with discriminating consumers.
    </p> 
    </div> <br />
    <img src="~/images/image7.jpg" style="width:40%; height: 30%; display:block; margin-left:auto; margin-right:auto"  />
</div>

<br /> 

<div style="text-align:center">
    <h2>Our goal</h2>
</div>

<div>
    <div style="padding:20px; background-color:cadetblue; text-align:center">
    <p>Come along on a voyage of inspiration and discovery as we honor the creativity of handcrafted goods and give artisans the tools they need to 
        tell their tales to a global audience. Discover the enchantment of KhumaloCraft Emporium, where creativity and tradition collide and each item 
        has a backstory.</p>
    </div> <br />
    <img src="~/images/image8.jpg" style="width:40%; height: 30%; display:block; margin-left:auto; margin-right:auto" />
</div>