@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact us";
}

<div style="text-align:center">
<h1>Contact Us</h1>
</div> <br />
<div style="text-align:center">
<h2> For any questions and queries, you can find our contact information below: </h2>
</div>

<br />


<div class="form-wrapper">
<form>
    <div style="align-items:center">
        <h2>Contact us form </h2>
    </div>
        <label for="firstname">First name:</label> <br />
        <input type="text" placeholder="First Name " style="margin-bottom:10px; font-size:small " /> <br />

        <label for="lastname" >Last name:</label> <br />
        <input type="text" placeholder="Last Name" style="margin-bottom:10px; font-size:small " /> <br />

        <label for="email">Email:</label> <br />
        <input type="text" placeholder="Email" style="margin-bottom:10px; font-size:small " /> <br />

        <label for="phonenumber">Phone number:</label> <br />
        <input type="text" placeholder="Phone Number" style="margin-bottom:10px; font-size:small " /> <br />

        <label for="enquiries">Enquiries:</label> <br />
        <textarea placeholder="Enquiries" rows="5" cols="25" style="margin-bottom:10px; font-size:small"> </textarea> <br />

        <button style="border-color:lightslategrey; margin-left:60px; border-radius: 10px 10px"> Submit</button>
    
</form>
</div>

<br/> 
<div>
<div style="font-size: large; font-weight:bold">
    <p>PHONE NUMBER</p>
</div>
<p>031 123 4567</p>
</div>

<br />
<div>
<div style="font-size: large; font-weight:bold">
    <p>EMAIL ADDRESS</p>
</div>
<p>ContactUs@khumalocraft.com</p>
</div>

<br />
<div>
<div style ="font-size: large; font-weight:bold">
    <p>LOCATION</p>
</div>
<p>12 Radar Dr, Durban North, Durban, 4051</p>
</div>
<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6332.017832565933!2d31.033239264465493!3d-29.79420891430253!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sza!4v1711481812089!5m2!1sen!2sza" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div> <br />

<div style="font-size: large; font-weight:bold">
    <p>SOCIAL MEDIA </p>
</div>
<div>
    <a href="https://twitter.com/">Twitter</a> 
    <a href="https://www.instagram.com/">Instagram</a>
    <a href="https://www.facebook.com/">Facebook</a>
</div>

