@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="text-center">
    <h1 class="display-4">WELCOME TO KHUMALOCRAFT </h1>
    
</div>
<br />

<div class="logo-image" style="width:80%; height: 30%; display:block; margin-left:auto; margin-right:auto ">
	<img src="~/images/screenshot 2024-03-29 201050.png" alt="logo"/>
</div>
