@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My Work";
}
<div style="text-align:center;">
<h1>My Work </h1>
</div>
<br />
<div style="font-size: large; font-weight:bold; padding:20px; background-color:cadetblue; text-align:center">
<p>
    Welcome to the KhumaloCraft Emporium work page, where my professional path is showcased through a combination of ingenuity and dedication. This is where you may get a peek of the experience, skills, and the projects that have shaped my career. Join me as we delve into a portfolio created with enthusiasm and a dedication to quality.
</p>
</div>

<br />

<div class="image-set" >
    <div class="image-container">
        <img src="~/images/image6.jpg" alt="image" style="width:100%; height: 30%;" >
     <div class="text">
            <p>a wooden sculpture created by hand with great care and attention to detail.</p>
     </div>
        <div class="price">
            <button style="background-color:cadetblue; border-radius: 10px 10px">Price: R1200</button>
        </div>
    </div>

    <div class="image-container">
        <img src="~/images/image5.jpg" alt="image2" style="width:100%; height: 30%;" >
        <div class="text">
            <p>Through careful carving and shaping, the artist gives the fragile wooden snowflake with a sense of winter enchantment through elaborate patterns and exquisite craftsmanship.</p>
        </div>
        <div class="price">
            <button style="background-color:cadetblue; border-radius: 10px 10px">Price: R2500</button>
        </div>
    </div>

    <div class="image-container">
        <img src="~/images/image3.jpeg" alt="image3" style="width:100%; height: 30% " >
        <div class="text">
            <p>created with ageless elegance, employing century-old methods to add color and light to any area. </p>
        </div>
        <div class="price">
            <button style="background-color:cadetblue; border-radius: 10px 10px">Price: R1800</button>
        </div>
    </div>
</div>

